<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Hello, my master. What can I do for you?
</h1>

<h2 id="Method">
    Which kind of way you would like to die?
</h2>

<script>
    let ele = document.getElementById('Method')
    ele.onclick = function () {
        alert("{{ method }}")   // 这里的{{ method }}是Flask渲染的变量，会被替换成实际的值，具体的值会由我们的python程序来决定，也就是由服务器端来决定
        // 这里的ele.onclick是一个事件处理函数，当用户点击这个元素时，会弹出一个提示框，提示框的内容就是{{ method }}的值
    }
</script>


</body>
</html>